@import './base.css';

#app {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    display: grid;
    grid-template-columns: 1fr;
  

}

@media (min-width:375px){
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
  }
}
.attribution {
        font-size: 20px;
        text-align: center;
        margin-bottom: 25px;
}
.attribution a {
        color: hsl(243, 82%, 46%);
}
     


   
